<marquee>Check out our cool dinosaurs</marquee>

<h1>
    <%= title %>
</h1>
<ul class="dinos">
    <% dinosaurs.forEach(dinosaur=> { %>
        <li class="<%= dinosaur.isHerbivore ? " green" : "red" %>" >
            <p>
                <% if (dinosaur.isHerbivore) { %> Herbivore <% } else { %> Carnivore <% } %>
            </p>
            <a href="/dinosaurs/<%= dinosaur.slug %>">
                <%= dinosaur.name %>
            </a>
            <img src="/assets/images/<%= dinosaur.image %>" alt="<%= dinosaur.name %>" />
        </li>
        <% }); %>
</ul>